@mixin block-legible {
	&%base {
		max-width: 46em;
		line-height: 1.5;
		text-align: left;
		padding: 0 1.375em;
	}
	&_pad-edges {
		padding-left: 2em;
		padding-right: 2em;
	}
	@content;
}

.legible-block { @include block-legible { @extend %base; } }