@mixin card {
	&%base {
		padding: 2rem;
		&, &:before, &:after {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		box-sizing: border-box;
	}
	&_big {
		padding: 4em 3em;
		@include gridle_state( tablet mobile ) {
			padding: 3rem 1.5rem;
		}
		@include gridle_state( mobile ) {
			text-align: center;
		}
	}
	&_huge {
		padding: 22.5vh 3em;
		@include gridle_state( tablet ) {
			padding: 10vh 2rem;
		}
		@include gridle_state( mobile ) {
			padding: 12vh 1rem;
		}
	}
	@content;
}

.card { @include card { @extend %base; }
	&_big, &_huge { @extend .card; }
}