@mixin header() {
	&%base {
		// 
		// DEFAULTS
		// 
	}
	&_sep-stylized {
		position: relative;
		z-index: d(behind);
		&:after {
			content: '⬘';
			font-size: 1.7em;
			position: absolute;
			top: 88%;
			transform: translateY(-100%);
			color: #DDD;
			width: 100%;
			text-align: center;
			left: 0;
			font-weight: 100;
			opacity: .5;
		}
	}
	@content;
}

header, .header { @include header { @extend %base; } }
