@include list('_sep-space') {
	@include list('--item') {
		&:after {
			content: ' ';
		}
		&:last-child, &:last-of-type {
			&:after { display: none; }
		}
	}
}
@include list('_sep-slash') {
	@include list('--item') {
		&:after {
			content: ' / ';
			white-space: pre;
		}
		&:last-child, &:last-of-type {
			&:after { display: none; }
		}
	}
}
@include list('_sep-comma') {
	@include list('--item') {
		&:after {
			content: ' , ';
			white-space: pre;
		}
		&:last-child, &:last-of-type {
			&:after { display: none; }
		}
	}
}