.panel {
	
	position: relative;
	display: block;
	min-height: 500px;          // sensible default
	height: 65vh;               // sensible default
	max-height: 700px;          // sensible default
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;     // sensible default

	@include gridle_state( tablet mobile ) {
		min-height: 300px;
		height: 60vw;
		max-height: 75vh;
	};

	&--caption {
		position: absolute;
		// 
		// POSITIONS
		// 
		//-> Left / Right
		// 
		$lr_offset: (default:3rem,tablet:1.75rem,mobile:1.125rem);
		&_top, &_bottom {
			@include gridle_state( mobile ) {
				text-align: center !important;
			}
		}
		&_left, &_right {
			top: 50%;
			transform: translateY(-50%);
			@include block-overflow(vertical) {
				max-height: 100%;
			}
			@include gridle_set((
				grid: 5,
				tablet: ( grid: 6 ),
				mobile: ( grid: 7 )	
			));
			@include gridle_state ( mobile ) { > * & {
				&:not(:first-child) { display: none   ; }
				&:last-child        { display: initial; }
			} }
		}
		&_left   { text-align: left;
			                                  padding: map-get($lr_offset,default);
			@include gridle_state( tablet ) { padding: map-get($lr_offset,tablet); }
			@include gridle_state( mobile ) { padding: map-get($lr_offset,mobile); }
		}
		&_right  { text-align: right;
			                                  padding: map-get($lr_offset,default);
			@include gridle_state( tablet ) { padding: map-get($lr_offset,tablet); }
			@include gridle_state( mobile ) { padding: map-get($lr_offset,mobile); }
			@include gridle_prefix(7);
			@include gridle_prefix(6,tablet);
			@include gridle_prefix(5,mobile);
		}
		// 
		//-> Top / Bottom
		// 
		&_top, &_bottom {
			text-align: center;
			@include gridle_set((
				grid:12,
				centered: true,
				prefix:0,
			));
		}
		&_top    { top:    1.5rem; }
		&_bottom { bottom: 1.5rem; }
	}
}