/*///////////////////////////////
// CONFIG                      //
///////////////////////////////*/

// Import Gridle
@import 'gridle/gridle';

// Gridle Config

@include gridle_setup((
	context : 12,
	gutter-width : 2rem,
	debug : true
));

/*///////////////////////////////
// SPECIAL COLUMNS             //
///////////////////////////////*/

// @include gridle_register_column("1on5", 1, 5);

/*///////////////////////////////
// CLEAR CLASSES               //
///////////////////////////////*/

// @include gridle_register_clear_each(2, left);
// @include gridle_register_clear_each(12, both);

/*///////////////////////////////
// STATES                      //
///////////////////////////////*/

//—> Gridle's Default States
// @include gridle_register_default_states();
// @include gridle_register_default_mobile_first_states();

//—> Custom Viewport-Based States
@include gridle_register_state(mobile ,(
    max-width : 36em ,// 480px
));
@include gridle_register_state(tablet ,(
    min-width : 36.063em ,// 481px
    max-width : 64em ,// 1024px
));
@include gridle_register_state(desktop,(
    min-width : 64.063em ,// 1025px
));

//—> Custom Orientation-Based States
@include gridle_register_state(landscape,(
	query : "(orientation : landscape)"
));
@include gridle_register_state(portrait ,(
	query : "(orientation : portrait)"
));