@import "plugin.tooltip-defaults.scss";

.tooltip { // TOOLTIPPED LINKS
	text-decoration: underline !important;
}
.tooltipster { // TOOLTIP VIEW
	&-base {
		border-radius: 0 !important;
		border: none !important;
		&, & > * { font-size: z(small) !important; }
	}
}